.imgBanner {
    height: 550px;
}

.hrHomeHeader {
    border: 1px solid orange;
    width: 50%;
}

.divImgServices {
    height: 50px;
}

.divCardServices {
    width: 25%;
}

#divDescriptionContact {
    background-color: orange;
}

#divBannerServices {
    background-image: url(../img/banner-services.jpg);
    filter: blur(6px);
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#divDescriptionServices {
    height: 500px;
    background-color: rgba(265, 165, 0, 0.3)
}